.nav-links {
    display: flex;
}

.nav-links button {
    color: white;

    &:hover {
        color: #F9BA14;
    }
}

.logo-container img {
    width: 100px;
    height: auto;
}

@media(max-width: 576px) {
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links button {
        &:hover {
            color: var(--blue-color);
        }
    }
}