<main>

    <section class="banner" >
        <!-- <h1>Restaurante Premium de Comida Tradicional Colombiana</h1> -->
        <app-banner ></app-banner>
    </section>

    <section class="menu">
        <app-menu></app-menu>
        <!-- Aquí se incluirá el componente del menú -->
    </section>

    <section class="news">
        <h2>Noticias</h2>
        <!-- Aquí se incluirá el componente de noticias -->
    </section>

    <section class="about">
        <h2>Acerca de nosotros</h2>
        <!-- Aquí se incluirá el componente de Acerca de nosotros -->
    </section>
</main>