main {
    background-color: #f5f5f5;
}

.banner {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

app-banner {
    width: 100%;
}

.menu {
    padding: 1rem;
    margin-bottom: 2rem;
}

.about {
    background-color: #F9BA14;
    padding-inline: 2rem;
    padding-block: 3rem;
}

@media (min-width: 576px) {
    .about {
        padding-inline: 4rem;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}