.search-container {
    width: 100%;
    position: relative;
}

.search-icon {
    left: 15px;
}

.trash-icon {
    right: 15px;
}

.search-icon-hidden,
.trash-icon-hidden {
    opacity: 0;
    pointer-events: none;
}

.search-icon,
.trash-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

input {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}