.search-container {
    position: relative;
    width: 100%;
}

.trash-icon {
    color:#d62828;
}


.search-icon-hidden,
.trash-icon-hidden {
    opacity: 0;
    pointer-events: none;
}

.search-icon,
.trash-icon {
    right: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

input {
    width: 90%;
    border-radius: 25px;
    border: none;
    padding: 10px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}