<div class="about-container">
  <div class="about-us">
    <img [src]="logo" alt="Imagen del plato">
    <p>mission</p>
  </div>

  <div class="contact-info">
    <h2>Información de contacto</h2>
    <p>Correo: <br><a [href]="emailPath">{{email}}</a></p>
    <p>Dirección: <br><a [href]="addressUrl"
        target="_blank">{{addressPath}}</a></p>
    <!-- <p><b>Teléfono: </b><a href="tel:3002795942">300 279 5942</a></p> -->
    <!-- <p>Domicilios: <br><a href="https://wa.me/+573002795942" target="_blank">300 279 5942</a></p> -->
  </div>

  <div class="working-hours" *ngIf="data && data.officeHours && data.officeHours.length > 0">
    <h2>Horario de Atención</h2>
    <p>Lunes a Viernes: 9am - 6pm</p>
    <p>Sábado: 10am - 4pm</p>
  </div>

  <div class="copyright">Copyright 2023. Designed by devid</div>
  <!-- <div class="social-media">
      <a href="https://www.instagram.com" target="_blank"><img src="assets/instagram.png" alt="Instagram"></a>
      <a href="https://www.youtube.com" target="_blank"><img src="assets/youtube.png" alt="YouTube"></a>
    </div> -->
</div>