<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="over" [(opened)]="sidenavOpened" (openedChange)="onSidenavOpenedChange($event)">
        <button mat-icon-button (click)="closeSidenav()" class="close-button">
            <mat-icon>close</mat-icon>
        </button>
        <img src="./assets/logos/logo_white.webp" alt="Logo" class="logo" >
        <app-menu-navigation  (closeSidenav)="closeSidenav()"></app-menu-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar (openSidenav)="openSidenav()"></app-navbar>
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>