.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    height: calc(100vh - 60px);
    width: 100%;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
    cursor: default;
}

.carousel img:hover {
    cursor: grab;
}

.carousel .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel h1,
.carousel h2 {
    color: #fff;
}

.carousel h1 {
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
}
