/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-color: #007A9F;
    --secondary-color: #F9BA14;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: var(--primary-color);
}

.mat-tab-header .mat-tab-label.mat-tab-label-active {
    color: var(--primary-color);
}